* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}

body {
  background-color: teal;
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 100vh;
}

.box {
  background-color: white;
  padding-top: 30px;
  padding: 30px;
}
.box h2 {
  margin-bottom: 40px;
  text-align: center;
  font-size: 31px;
  color: #015a96;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
input {
  padding: 20px;
  user-select: none;
  height: 50px;
  width: 400px;
  border-radius: 6px;
  border: none;
  border: 2px solid #8d0cf7;
  outline: none;
  font-size: 22px;
}

input::placeholder {
  font-size: 23px;
}
